/*-------------------IMPORTANDO-CONTEÚDO-DE-FORA----------------*/

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Bebas+Neue&family=Oswald:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    /*border: 2px solid rgb(255, 0, 0);*/
}

/*-------------------ROLAGEM-DO-SITE----------------*/

html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
    overflow-x: hidden;
}

/*-------------------CORPO-DO-SITE----------------*/

body{
    background-color: #f1f1f1 !important;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/*-------------------CABEÇALHO----------------*/

.header{
    /*Tag pai, todas as alterações herdam desta*/
    /*Edição de tag parte do flexbox*/
    list-style: none;
    height: 5vw;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
/*Imagem do topo do navegador*/
img#logoNav{
    height: 5vw;
    margin-left: -2vw;
}

a.btnNav{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgba(63, 63, 63, 0.8);
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
a.btnNav:after{
    content: "";
    position: absolute;
    background-color: #156cdf;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
a.btnNav:hover{
    color: rgb(27, 27, 27);
}
a.btnNav:hover:after{
    width: 100%;
}

/*-------------------BOTÃO-MODO-CLARO/ESCURO----------------*/

.menu-login {
    margin-right: 15px;
    font-size: 15px;
    font-family: sans-serif;
    background-color: #156cdf;
    padding: 5px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: rgb(255,255,255);
}
.menu-login span {
    margin-right:10px;    
    color: rgb(255,255,255);
}
.menu-login:active{
    transform: scale(0.96);
}


/*----------TEXTO-----------*/
.txt-animado{
    font-weight: 200;
    width: 50vw;
    margin-top: -35vw;
    margin-left: 48vw;
    text-align: center;
}

.txt-animado span{
    position: relative;
    font-size: 2vw;
    font-family: monospace;
}

.txt-animado span::before{
    content: "";
    color: rgb(255,255,255);
    animation: palavras 20s infinite;
}

.txt-animado span::after{
    content: "";
    position: absolute;
    height: 120% ;
    border-left: 2px solid #156cdf;
    right: -10px;
    animation: cursor .8s infinite, digita 20s steps(15) infinite;
    width: calc(100% + 18px);
    background-color: rgb(12, 15, 24);
}

@keyframes digita{
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
    width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
    width: calc(100% + 18px);
    }
}

@keyframes cursor{
    0%{
    border-left: 2px solid #0c041f;
    }
}

@keyframes palavras{
    0%, 20%{
    content: "Bem vindos a Sapphire Code!";
    }
    21%, 40%{
        content: "Transformando desafios em soluções preciosas!";
    }
    41%, 60%{
        content: "Bem vindos a Sapphire Code!";
    }
    61%, 80%{
        content: "Transformando desafios em soluções preciosas!";
    }
    81%, 100%{
        content: "Bem vindos a Sapphire Code!";
    }
}

/*-----------------IMAGEM HOME-------------------*/

.img-topo{
    height: 40vw;
    background-image: url("img/computador2.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10vw;
}

/*-------------------HOME----------------*/

.tituloHome{
    color: #156cdf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-left: 31.5vw;
    width: 35vw;
    margin-top: 25vw;
    padding: 0.4vw;
    font-size: 4.5vw;
    padding-bottom: 2vw;
}
div.home{
    display: flex;
    justify-content: center;
    width: 100%;    
    background-color: none;
}
p.txtHome{
    color: #202020;
    margin: 2vw;
    margin-top: 4vw;
    font-size: 1.7em;    
    text-align: justify;
    font-family: monospace;
}
hr.linhaSeparacaoHome{
    border: none;
    margin-top: 0%;
}
div.separacaoHome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(5vw,10vw,20vw);
    background-color: #000000;
}
section.home{
    background-color: color-mix(in srgb-linear, color percentage, color percentage);
    display: flex;
    justify-content: space-between;
    width: 70%;
}
#titulo-div-home{
    font-size: 2vw;
    color: #156cdf;
    font-family: monospace;
    text-align: center;
}
/*Estilizando início da página*/
div.imgHome{
    display: inline;
    padding-top: 1vw;
    padding-right: 5vw;
}
div.containerHome
{
    background-color: #ffffff;
    padding: 2vw;
    border: 3px solid #240b5e;
    border-radius: 50px;
}
img#homepage{
    border: none;
    width: 25vw;
    height: 25vw;
}

/*--------------TÍTULO CASES-------------------*/

h3.tituloCases{
    font-size: 30px;
    color: #156cdf;
    text-align: center;
    font-family:monospace;
    margin-top: 3vw;
}

/*------------CASES ANIMADOS------------*/

/*--------------CASES LOGOS-------------------*/

.carrossel{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
}
.swipper-wrapper{
    width: 80vw;
    height: 25vw;
    display: flex;
    padding: 1%;
    justify-content: center;
    justify-items: center;
    border-radius: 100%;
}
.swiper-slide{
    min-width: 215px;
    max-height: 300px;
    margin-top: 3vw;
    justify-items: auto;
    border-radius: 100%;
}
.swiper-slide:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
}
/*Div da logo*/
.card{
    height: 135%;
    width: 28%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    padding: 0%;
    margin-left: 0%;
    margin-right: 10%;
    background-color: #f1f1f1 !important;
    border-radius: 30%;
    border: #f1f1f1 !important;

}
.card img{
    width: 100% !important;
    height: 100% !important;    
}
.front, .back{
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    border: 3px solid #0cc0df;
    justify-items: center;
    border-radius: 30% !important;
}
.front{
    background-image: url(img/logografica.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
}
.back{
    background-color: #4274fd;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    font-family: monospace;
    color: rgb(255,255,255);
    justify-items: center;
    text-align: center;
}
.titu-cases{
    font-size: 2vw;
}
.txt-cases{
    font-size: 1.5vw;
    padding: 0.5vw;
}
.front-2, .back{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    border: 3px solid #0cc0df;
    border-radius: 30% !important;
}
.front-2{
    background-image: url(img/logoelvisburger.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
}
.front-3, .back{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    border: 3px solid #0cc0df;
    border-radius: 30% !important;
}
.front-3{
    background-image: url(img/logo-charge.png);
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
}
.front-4, .back{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    border: 3px solid #0cc0df;
    border-radius: 30% !important;
}
.front-4{
    background-image: url(img/logoslimtech.png);
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
}
.front-5, .back{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    border: 3px solid #0cc0df;
    border-radius: 30% !important;
}
.front-5{
    background-image: url(img/logogeekstore.png);
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
}
/*-------------------------------------------------*/

/*--------------CASES WEB SITES-------------------*/

.carrossel-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vw;
    gap: 1rem;    
}
.container-web, .container-web-1{
    display: flex;
    width: 78vw;
    justify-content: space-around;
    margin-top: 3vw;    
    margin-bottom: 10vw;
}
.card-web{
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.5s ease-in-out;
    border-radius: 100px;    
    margin-right: 50px !important;
    margin-left: 0% !important;
}
.card-web:hover {
    transform: translateY(20px);
}
.card-web:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.card-web:hover:before{
    opacity: 1;
}

div.casesAppWeb{
    display: flex;
    position: relative;
    justify-content: center;
    gap: 5vw;
}
div.imgCasesAppWeb {
    padding: 0%;
}
img#cases{
    justify-content: center;
    border: 0.1vw solid #FCF6DB;
    width: 10%;
    height: 10%;
    border-radius: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
img#casesappweb{
    justify-content:center;
    width: 20%;
    height: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid #FCF6DB;
    border-radius: 30px;
}
/*Bootstrap*/
.carousel-item .info{
    position: relative;
    z-index: 3;
    color: rgb(255,255,255);
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    margin-top: 70%;
}
.carousel-item:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.carousel-item .info a{
    text-decoration: none;
    background-color: #0cc0df;
    padding: 1vw;
    border-radius: 15px;
    margin-left: 12vw;
    color: rgb(255,255,255);
    font-family: monospace;
    font-size: 1.3vw;
}
.carousel-item img{
    width: 35vw;
    height: 25vw;
    object-fit: cover;
    position: absolute;
    display:flex;
    top: 0;
    margin-right: 50px !important;
    margin-left: 0% !important;
    margin-bottom: 10%;
  }
/*-------------------CASES APP----------------*/
.carrossel-3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    gap: 5.5rem;
    margin-bottom: 7vw;
}
.container-slider {
    display: flex;
    width:50vw;
    height: 29vw;
    align-items: center;
    justify-content: center;
  }  
  .container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    margin-left: 10px;
    margin-bottom: 20px;
  }  
  .slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
  }  
  .on {
    opacity: 1;
  }  
  #prev-button, #next-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 3.5vw; 
  }  
  #prev-button img, #next-button img {
    width: 50% !important;
    height: 30% !important;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  #prev-button, #next-button:hover{
    border: none;
    cursor: pointer;
    box-shadow:inset;
    transform: scale(1.1);
}
#carousel-control-prev {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 3.5vw; 
  }
  #carousel-control-prev:hover{
    border: none;
    cursor: pointer;
    box-shadow:inset;
    transform: scale(1.1);
}
/*-------------------CLIENTES----------------*/


div.imgClientes
{
    width: 90%;
    margin: 5%;
    text-align: center;
}
img#clientes{
    width: 20%;
    padding: 10px;
}

.titulo-clientes{
    background-color: #f1f1f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vw;
    width: 15vw;
    color: #156cdf;
    text-align: center;
}
.btnClientes{
    text-decoration: none;
}

/*-----------------QUEM-SOMOS--------------*/

.titulo-quemsomos{
    background-color: #f1f1f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vw;
    width: 24vw;
    color: #156cdf;
    text-align: center;
    padding-bottom: 6vw;
}
.separacao{
    display: flex;
    justify-content: center;
}
div.quemSomos{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: none;
    margin-bottom: 5%;
}
section.quemSomos{
    background-color:#ffffff;
    width: 70%;
    border-radius: 40px;
    margin-top: -3%;    
}
#titulo-empresa{
    font-size: 2vw;
    font-family: monospace;
    color: #000000;
    text-align: center;
}
/*Estilo do texto referente ao conteúdo de "Quem somos"*/
p.txtQuemSomos{
    color: #000000;
    margin: 2vw;
    text-align: justify; 
    font-size: 1.5vw;
    font-family: monospace;   
}
p.txtQuemSomosValores{
    color: #000000;
    margin: 2vw;
    text-align: center;  
    font-size: 1.5vw;
    font-family: monospace;  
}
hr.linhaSeparacaoQuemSomos{
    border: 0.2vw solid none;
    margin-top: 2%;
}
div.separacaoQuemSomos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(5vw,10vw,20vw);
    background-color: none;
}
/*Estilizando os titulos*/
h3.titulo{
    margin: 4%;
    font-size: 4vw;
    font-family: Antonio;
}
/*Estilizando imagem da Empresa*/
div.imgQuemSomos{
    padding-top: 10%;
    margin-left: 2%;
}
div.imgQuemSomos,
div.containerQuemSomos
{
    padding: 5%;
}
img#quemsomos{
    border: 0.1vw solid #FCF6DB;
    width: 100%;
    height: 40vw;
}

/*-----------------O QUE FAZEMOS--------------*/

#fazemos{
    color: #156cdf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-left: 31.5vw;
    width: 35vw;
    margin-top: 5vw;
    padding: 0.4vw;
    font-size: 4.5vw;
}

.oQueFazemos {
    display: flex;
    justify-content: center;
    margin-bottom: 5vw;
    gap: 4vw;
}
figure, figure img {
    width: 500px;
    height: 650px;    
    border-radius: 40px;    
    margin-top: 15%;
    margin-bottom: 15%;
}
div .img1 {
    display: inline-block; 
}
div .img2 {
    display: inline-block;   
}
div .img3 {
    display: inline-block;   
}


/*-----------------LOCALIZAÇÃO--------------*/

.titulo-localizacao{
    color: #156cdf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 34vw;
    text-align: center;
    font-size: 4vw; 
}
div.localMapa{
    margin: 1vw;    
    display: block;
    margin: 0% auto;
    justify-content: center;
    align-items: center;      
}
section.iframeLocal{
    background-color: NONE;
}
iframe{
    border-radius: 30px;
    width: 50%;   
    margin-top: 50px; 
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 4vw;
}

/*-----------------RODAPÉ--------------*/

footer{
    background-color: #000;
    border-top: #13072e solid 0.2vw;
}
div.divImgFooter{
    display: flex;
    justify-content: center;
}
/* Estilização do texto (rodapé) */
.textoFooter {
    color: #FFF;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(90%, 100%, 11 0%);
    margin: 1em;
}
/* Estilização da logo central */
img#imgLogoFooter{
    height: clamp(2em,10em,25em);
    border: none;
    border-radius: none;
}
div.imgRedesSociais{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    padding: 2%;
}
.infoEmpresa{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#enderecoFooter{
    display: flex;
    justify-content: center;
}
#faceFooter,
#instaFooter,
#zappFooter
{
    height: 90%;
}
#imgLogoFooter{
    margin-top: 1%;
}

#seta{
    width: 4vw;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.btn-header, .btn-header-x{
    display: none;
}

.menu-icon, .menu-icon-x{
    width: 7vw;
    cursor: pointer;
    display: none;
}
.nav-header{
    display: flex;
    align-items: center;
    z-index: 2;
    gap: 7rem;
    margin-left: -12vw;
}

/*-----------------MEDIA-QUERY--------------*/

@media screen and (max-width: 300px){
    footer.finalPag{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    img#imgLogoFooter{
        margin-top: 10%;
        height: 35vw;
    }
    p.textoFooter{
        font-size: clamp(4vw,5vw,7vw);
    }
    div.divImgFooter{
        display: flex;
        justify-content: center;
    }
    div.imgRedesSociais{
        flex-wrap: wrap;
        margin-top: 10%;
    }
    img.redeSocialFooter{
        height: 60%;
        width: 60%;
    }   
}
@media screen and (max-width: 650px) {
    img.imgSlide {
        width: 100%;
        height: 80vw;
    }
}
@media screen and (max-width: 450px) {
    img.imgSlide {
        width: 100%;
        height: 50vw;
    }
    footer{
        height: 1%;
    }
    img#imgLogoFooter{
        margin-bottom: 5%;
        height: 5em;
        border: 0.1vw solid #fff;
    }
    a.linkRedeSocialFooter{
        margin: 1vw;
        height: 1.5em;
    }
    img.redeSocialFooter{
        height: 1vw;
    }
    p.textoFooter{
        font-size: 2vw;
    }
}
@media screen and (min-width: 1500px) {
    .back{
        font-size: 1vw;
    }
    .titulo-clientes{
        width: 17vw;
    }
    .titulo-quemsomos{
        width: 27vw;
    }
    p.txtHome{
        font-size: 1.5vw;    
    }
}
/*Media query para desktop*/
@media screen and (min-width: 1000px) {
    .container-slider {
        width: 60vw;
        padding-top: 7vw;
    }
    #prev-button, #next-button{
        width: 7vw;
    }
    figure, figure img {
        width: 270px;
        height: 400px;
        margin-top:20px;
        border-radius: 30px;
    }
    #logoNav{
        margin-right: 120px;
    }
    .nav-header{
        gap: 1.4vw;
    }
    .swiper-slide{
        width: 500px;
        height: 500px;
    }
    .front, .front-2, .front-3, .front-4, .front-5{
        background-size: 216px 250px;
    }
    .back{
        font-size: 1.2vw;
    }
}
/*Media query para smartphone*/
@media (min-width: 300px) and (max-width: 768px) {
    html, body{
        overflow-x: hidden;
    }
    .swiper-slide{
        min-width: 130px;
        max-height: 120px;
        margin-left: 14vw;
    }
    .card{
        width: 50vw;
        height: 55vw;
    }
    .front, .front-2, .front-3, .front-4, .front-5{
        background-size: 130px 120px;
    }
    .back{
        font-size: 1.7vw;
    }
    .titu-cases{
        font-size: 3.5vw;
    }
    .txt-cases{
        font-size: 2.5vw;
        padding: 1.5vw;
    }
    figure, figure img {
        width: 120px;
        height: 160px;
        border-radius: 30px;
    }
    #fazemos, .titulo-quemsomos, 
    .titulo-clientes, .tituloHome {
        font-size: 8vw;
        width: 60vw;
    }
    .titulo-localizacao{
        width: 80vw;
        font-size: 8vw;
    }
    .titulo-quemsomos{
        padding-bottom: 25px;
    }
    #fazemos {
        margin-left: 17.5vw;
    }
    .tituloHome{
        margin-left: 17.5vw;
    }
    .txt-animado {
        width: 75vw;
        margin-left: 34.5vw;
        margin-top: -37vw;
    }
    .txt-animado span {
        font-size: 1.8vw;
    }
    .txt-animado span::after{
        height: 240%;
    }
    iframe {
        width: 80vw;
        height: 50vw;
        margin-left: 9vw;
        margin-top: 25px;
    }
    section.quemSomos {
        width: 85%;
    }
    #titulo-empresa {
        font-size: 3.5vw;
    }
    p.txtQuemSomos, p.txtQuemSomosValores {
        font-size: 2.5vw;
    }
    img#clientes{
        width: 30vw;
    }
    img#homepage {
        width: 30vw;
        height: 30vw;
        margin-top: 4vw;
    }
    div.containerHome {
        width: 70vw;
        height: 42vw;
        border-radius: 40px;
    }
    p.txtHome {
        font-size: 2.7vw;
    }
    section.home {
        width: 95%;
    }
    #titulo-div-home {
        font-size: 2.7vw;
    }

    #seta{
        width: 9vw;
    }
    img#casesappweb{
        border-radius: 17px;
    }
    .menu-icon, .menu-icon-x{
        display: block;
    }
    .nav-header{
        gap: 2rem;
        position: fixed;
        flex-direction: column;
        top: 0;
        text-align: center;
        background-color: #f1f1f1 !important;
        height: 100%;
        width: 40vw;
        padding: 1em;
        animation-duration: 1s;
        margin-right: -140vw;
        display: none;
    }
    @keyframes mostraNavbar {
        from {
            margin-right: -140vw;
            display: none;
        }
        top{
            margin-right: -70vw;
            display: block;
        }
    }
    .btn-header, .btn-header-x{
        background-color: transparent;
        border: none;
        display: block;
    }
    .header{
        height: 8vw;
    }
    #logoNav{
        width: 18vw;
        margin-right: 30vw;
    }
    .carrossel-3{
        width: 100vw;
        height: 40vw;
        gap: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .container-slider {
        width: 50vw;
    }
    #next-button, #prev-button{
        width: 12vw;
    }
    #next-button{
        margin-left: 10vw;
    }
    #prev-button{
        margin-right: 10vw;
    }
    #prev-button-2, #next-button-2 {
        width: 12vw;
    }
    .carrossel-2{
        width: 99%;
        gap: 1rem;
        height: 35vw;
    }
    .container-web{
        width:60vw;
    }
    #prev-button-3, #next-button-3 {
        width: 12vw;
    }
    .carrossel{
        width: 99%;
        height: 40vw;
    }
    .swipper-wrapper{
        width: 62vw;
        height: 35vw;
    }
    .container-web-1{
        width: 21vw;
        height: 60vw;
    }
    .container-web{
        height: 60vw;
        width: 57vw;
    }
    .carousel-item img{
        width: 65vw;
        height: 57vw;
        border-radius: 80px;
    }
    .carousel-item .info a{
        padding: 3vw;
        font-size: 3vw;
        border-radius: 30px;
    }
    #prev-button img, #next-button img {
        width: 90% !important;
        height: 60% !important;
    }
}